body {
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.entete{
 /* display: block;*/

  background: linear-gradient(45deg, pink, red,green,pink);
  height: 200px;
}

.logo p{
  text-align: center;
  color: white;
}
.titre{
  text-align: center;
  color: mediumvioletred;
}
.category{
  margin-left: 20px;
}

/*
.main-page{
  background-color: lightslategrey;
}
*/
div.robes{
  display:grid;
  /*grid-template-rows: 1fr 1fr;*/
  grid-template-columns: 1fr 1fr 1fr;
}
.robe{
  border: 2px black solid;
  margin: 10px;
/*  background-color: lightsteelblue;*/
  
}

div.robe a img{
  display: block;
  width: 100%;
}

div.details{
  text-align: center;
  background-color: darkred;

}

.pied-de-page {
  background-color: darkred;
  width: 100%;
  height: 200px;
  color: white;
}

@media screen and (max-width:600px){
  div.robes {
    display: grid;
    /*grid-template-rows: 1fr 1fr;*/
    grid-template-columns: 1fr 1fr;
  }
  
}
